# htaccess of this Application

Options +FollowSymLinks -MultiViews
RewriteEngine On

# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# For Localhost (URL: http://localhost/socialsonic/)
# RewriteBase /socialsonic/
 
# For Live Server (URL: http://www.socialsoniccrm.com)
RewriteBase / 

# Remove .php extension with and without trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L,QSA]

RewriteCond %{QUERY_STRING} (.*)/$
RewriteRule ^(.*)$ /$1?%1 [L,R=301]

RewriteRule ^10tweets/(.*)/ last-tweets.php?userid=$1
RewriteRule ^10tweets/(.*) last-tweets.php?userid=$1

IndexIgnore *	
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 404.php [L]

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>